<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>MNSubscriber</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="js/subscribe.js"></script>
<style type="text/css">
html, body {
	min-width: 100%;
	min-height: 100%;
}
</style>
</head>

<body>
	<div id="bodycontainer" style="width: 100%; height: 100%;">
		<div id="topcontianer" style="width: 100%; height: 20%; float: left;"></div>
		<div id="center" style="width: 100%; height: 60%; float: left;">
			<div id="left" style="width: 40%; height: 100%; float: left;">
			</div>
			<div id="right" style="width: 60%; height: 100%; float: left;">
				
				Thank you that we received your request.
				
			</div>
			<a href="https://www.mbusa.com">Visit mbusa.com!</a>
		</div>

		<div id="bottomcontianer"
			style="width: 100%; height: 20%; float: left;"></div>

	</div>


</body>
</html>
